.contact-container{
    background-color: var(--vert) !important;
    
    /* @media only screen and (max-width: 768px) {
        padding-bottom: 80px;
    }
    @media only screen and (min-width: 768px) {
        padding-top: 80px;
    } */
}