.lesProjets-container{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    width: 100%;
    height: calc(100vh - 80px);
    overflow-y: hidden;
    
}