.lesProjets-container{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    width: 100%;
    height: calc(100vh - 80px);
    overflow-y: hidden;
    @media only screen and (min-width: 768px) {
        flex-direction: row;

    }

}