.headerApp{
    width: 100%;
    height: 80px;
    background-color: var(--noir);

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    
    position: fixed;
    bottom: 0;
    z-index: 10000;
}
@media only screen and (min-width: 768px) {
    .headerApp{
        position: sticky;
        top: 0;
    }
}

.headerApp .header-titre-lien{
    text-decoration: none;

}

.headerApp .header-titre{
    color: var(--blanc);
    font-family: var(--texte);
    font-size: 5em;
    font-weight: 500;
    margin-left: 25px;
}

.header-titre-lien .icone{
  color: var(--vert);
}