.navPrinc{
    margin-left: 20px;
}

.navPrinc-ul{
    display: flex;
    justify-content: right;
    align-items: center;
    flex-direction: row;
    text-decoration: none;
    width: 100%;
}

.navPrinc-ul li{
    position: relative;
    list-style: none;
    margin-inline: 1em;
    text-decoration: none;
    color: var(--blanc);
    font-family: var(--texte);
    font-size: 1.5rem;
    cursor: pointer;
    @media only screen and (min-width: 768px) {
        padding-inline: 0.25em;
    }
}
.navPrinc-ul li a{
    text-decoration: none;
    color: var(--blanc);
    transition: all 0.5s;
}
@media only screen and (max-width: 768px) {
.navPrinc-ul li:hover a,
.navPrinc-ul li.currentLink a{
        color: var(--vert);
        transition: all 0.5s;
    }
}
@media only screen and (min-width: 768px) {
.navPrinc-ul li:hover::after,
.navPrinc-ul li.currentLink::after{
    display: block;
    content: '';
    width: 110%;
    height: 3px;
    margin-top: 5px;
    background-color: var(--vert);
    transition: all 0.5s;
    position: absolute;
    bottom: 40%;
    left: -6%;
    transition: all 0.5s;
    }
}