.contactMerci-container{
    width: 100%;
    height: 100%;
    background-color: var(--vert);
    overflow: hidden;
    padding-top: 2em;
    @media only screen and (min-width: 500px) {
        padding-top: 1.5em;
    }
    @media only screen and (min-width: 750px) {
        padding-bottom: 2.5em;
    }

}
.merci-infos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-top: 1em;
}

.contactMerci-container .merci-email{
    font-family: var(--texte);
    font-size: 1.5em;
    color: var(--blanc);
    background-color: var(--noir);
    text-align: center;
    margin: 1em;
    padding: 0.5em;
    text-transform: uppercase;
    font-weight: bold;
    /* position: relative; */
    @media only screen and (min-width: 500px) {
        margin-bottom: 1em;
        font-size: 2em;
        width: 90%;
    }
    @media only screen and (min-width: 670px) {
        font-size: 2em;
    }
    @media only screen and (min-width: 900px) {
        font-size: 3em;
    }
    @media only screen and (min-width: 1500px) {
        font-size: 3.5em;
    }
}

.merci-icones{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    overflow: hidden;
    margin: 0.5em 0 0 0;
    padding: 0.5em 1.5em 1em 1.5em;
    @media only screen and (min-width: 750px) {
        padding: 1.5em;
    }


}

.merci-icones p{
    margin-inline: 0.5em;
    transition: all 0.25s;
    transform: translateY(0em) scale(1);
    box-shadow: 0px 0px;
    overflow: hidden;
    @media only screen and (min-width: 500px) {
        margin-inline: 0.8em;
    }
    @media only screen and (min-width: 750px) {
        padding: 0.5em;
    }
}

.merci-icones p:hover{
    transform: translateY(-0.4em) scale(1.1);
    transition: all 0.25s;
    @media only screen and (min-width: 750px) {
        transform: translateY(-1em) scale(1.2);
    }
}

.merci-icones p a:not(.linkedin){
    text-decoration: none;
    color: var(--noir);
}

.contactMerci-container .merci-infos .merci-icones .linkedin a{
    color: var(--vert) !important;
    background-color: var(--noir);
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: block;
    padding: 0.5em;
    border-radius: 50%;
}

.tooltip-email{
    position: absolute;
    background-color: var(--mauve);
    color: var(--blanc);
    padding: 5px;
    border-radius: 4px;
    top: 0.7em; /* Adjust the positioning as needed */
    right: 50%;
    transform: translateX(50%);
    white-space: nowrap;
    font-size: 12px;
    @media only screen and (min-width: 1200px) {
        font-size: 18px;
    } 
}