*,
*::before,

*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
  --vert: #A2FF00;
  --vertSemi: #a2ff0072;
  --noir: #000000;
  --blanc: #ffffff;
  --font: 'Anonymous Pro', monospace;
}