*,
*::before,

*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

:root{
  --vert: #A2FF00;
  --vertSemi: #a2ff008a;
  --mauve: #8800FF;
  --noir: #000000;
  --blanc: #ffffff;
  --texte: 'Anonymous Pro', monospace;
  --logo: 'Inter', sans-serif;
}