:root{
  --vert: #A2FF00;
  --vertSemi: #a2ff008a;
  --mauve: #8800FF;
  --noir: #000000;
  --blanc: #ffffff;
  --texte: 'Anonymous Pro', monospace;
  --logo: 'Inter', sans-serif;
}

*,
*::before,

*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* overflow-x: hidden; */
}

h1::selection,h2::selection, h3::selection, p::selection {
  background-color: var(--mauve);
  color: white;
}
