/* CONTAINER */
.accueilProjet-container {
    padding-top: 7em;
}

/* BTN */

.accueilProjets-btn {
    display: block;
    width: 100%;
    margin: 0.5em;

    font-size: 1.5em;
    font-family: var(--texte);
    text-align: left;
    text-decoration: none;

    color: var(--noir);

    transition: all 0.3s;

    @media screen and (min-width: 510px) {
        margin-bottom: 2em;
        margin-left: 1em;
    }

    @media screen and (min-width: 998px) {
        font-size: 2em;
    }
}

.accueilProjets-btn svg {
    margin-bottom: -0.6em;
    margin-left: 0.3em;
    transition: all 0.2s;

    @media screen and (min-width: 510px) {
        margin-bottom: -0.6em;
    }

    @media screen and (min-width: 998px) {
        margin-bottom: -0.4em;
    }
}

.accueilProjets-btn:hover svg {
    margin-left: 0.8em;
    transition: all 0.2s;
}

.accueilProjets-btn:hover {
    color: var(--mauve);
    transition: all 0.3s;
}


/* BARRES - BTN */
.accueilProjets-barres {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.accueilProjets-barres::after,
.accueilProjets-barres::before {
    content: "";
    display: block;
    height: 0.5em;
    width: 65%;
    background-color: var(--vert);
    margin-top: 0.5em;

    z-index: 2;
}

/* IMGS */
.accueilProjets-imgContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;

    @media (min-width: 768px) {
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(2, auto);
        justify-content: space-evenly;
        justify-items: center;
        align-content: center;
        align-items: center;
    }
}

.accueilProjets-imgsWrap {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.accueil-img2,
.accueil-img3,
.accueil-img1 {
    width: 80%;
    max-width: 411px;
    aspect-ratio: 1/1;
    object-fit: cover;
    background-position: center;
    margin-top: 3em;

    @media (min-width: 768px) {
        width: 100%;
        max-width: 100%;
    }

}

.accueil-img2 {
    @media (min-width: 768px) {
        grid-area: 1 / 1 / 2 / 2;
    }
}

.accueil-img2-span,
.accueil-img1-span {
    width: 80%;
    max-width: 411px;
    display: block;
    aspect-ratio: 1/1;

    position: absolute;
    top: 10%;
    right: 5%;
    z-index: -1;

    border: 3px solid var(--mauve);

    @media (min-width: 420px) {
        top: 5%;
    }

    @media (min-width: 564px) {
        right: 7%;
    }

    @media (min-width: 661px) {
        right: 15%;
    }

    @media (min-width: 760px) {
        right: 18%;
    }
    @media (min-width: 768px) {
        display: none;
    }
}

.accueil-img3-span {
    position: absolute;
    top: 10%;
    left: 5%;
    display: block;
    width: 80%;
    max-width: 411px;
    aspect-ratio: 1/1;
    border: 3px solid var(--mauve);
    z-index: -1;

    @media (min-width: 420px) {
        top: 5%;
    }

    @media (min-width: 564px) {
        left: 7%;
    }

    @media (min-width: 661px) {
        left: 15%;
    }

    @media (min-width: 760px) {
        left: 18%;
    }
    @media (min-width: 768px) {
        display: none;
    }

}

.accueil-img3 {
    @media (min-width: 768px) {
        grid-area: 1 / 2 / 2 / 3;
    }
}

.accueilProjets-imgsWrap:has(.accueil-img1) {
    @media (min-width: 768px) {
        display: grid !important;
        justify-content: center;
        justify-items: center;
        align-content: center;
        align-items: center;
        object-fit: cover;
    }
}

.accueil-img1 {
    @media (min-width: 768px) {
        grid-area: 2 / 1 / 3 / 3;
        max-height: 100% !important;
        min-height: 411px !important;
        aspect-ratio: 2/1 !important;
        margin-top: 0;
    }
}